$color-done: #dddddd;
$color-done-active: #35A352;
$color-done-active-light: #cee5d4;
$color-pink: #ff8d98;
$color-white: #ffffff;
$color-gray: #333333;
$color-gray-light: #dddddd;
$color-blue: #3b7dc5;